* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: #e9e6df;
  --secondary-bg-color: #d5c6b1;
  --main-text-color: #4c2e2e;
  --secondary-text-color: #a15f22;
}

body {
  margin: 0px;
  font-family: 'Sometype Mono', monospace;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.display,
.controls {
  width: 100vw;
  height: 50vh;
}

.display {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  max-width: 100vw;
  font-size: 5rem;
}

.row {
  display: flex;
  height: 20%;
}

button {
  flex: 1;
  font-family: inherit;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  transition: all .2s;
}

button:hover {
  background-color: var(--secondary-bg-color);
}

button:active,
.pressed {
  background-color: color-mix(in srgb, var(--secondary-bg-color) 90%, black);
}

.ac,
.undo,
.oper,
.dot {
  color: var(--secondary-text-color);
}

.equal {

}