* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Sometype Mono', monospace;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #e9e6df;
}

.display,
.controls {
  height: 50vh;
}

.row {
  display: flex;
  width: 100vw;
  height: 20%;
}

.row button {
  flex: 1;
  font-family: inherit;
  font-size: 100%;
  cursor: pointer;
}